[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "1.1.2"
requests = "2.24.0"
beautifulsoup4 = "4.9.1"
Flask-SQLAlchemy = "2.4.4"
Flask-Script = "2.0.6"
Flask-Migrate = "2.5.3"
Flask-Cors = "3.0.10"
Flask-Compress = "1.9.0"
flask-talisman = "0.7.0"
psycopg2 = "2.8.5"
celery = "4.4.7"
redis = "3.5.3"
python-dotenv = "0.14.0"
flower = "0.9.5"
waitress = "1.4.4"

[requires]
python_version = "3.8"
